[Desktop Entry]
Name=FeedReader Snap
GenericName=RSS Client
Comment=Read feeds from web services
Categories=Network;Feed;
Exec=feedreader-snap.feedreader %U
Icon=${SNAP}/meta/gui/feedreader.svg
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
X-GNOME-Gettext-Domain=FeedReader
X-GNOME-Keywords=
Actions=AboutDialog;
MimeType=x-scheme-handler/feedreader;

[Desktop Action AboutDialog]
Exec=feedreader-snap.feedreader --about
Name=About FeedReader
